@charset "utf-8";
/*

Author: Guillermo Jimenez
Date: 2/4/2023
Description: CSS file for ePortfolio site 

*/

Body{

    background-color: darkgoldenrod;
}

  
section {
    background-color: gainsboro;
    padding: 20px;
}


nav {
    background-color: lightsteelblue;
    padding: 10px 20px;
} 

footer {
    background-color: lightsteelblue;
    padding: 20px;
}

li {
    list-style-type: square;
    margin: 10px 0;
  }