@charset "utf-8";
/*

Author: Guillermo Jimenez
Date: 2/4/2023
Description: CSS file for ePortfolio site 

*/

*{
    margin: 0; 
    padding: 3px; 
    box-sizing: border-box; 
}

body {
    background-color: rgb(253,254,255);
    justify-content: center; 
    align-items: center; 
}
.full {
    width: 100%;
    min-width: 100px;
    background-color: rgb(201, 192, 180);
    margin: 0px; 
    display: grid; 
    grid-template-columns: 2fr 4fr; 
}

.right {
    position: initial; 
    background-color: rgb(162, 202, 206);
    padding: 40px; 
}

.left{
  position: initial;
  padding: 30px;
}
ul {
  list-style: square; 
  margin-left: 20px; 
}

li {
  text-indent: -6px; 
}

.image, .Contact, .Skills, .Language, .Hobbies, .title, 
.Summary, .Experience, .Education, .Volunteering {
    margin-bottom: 30px; 
}

.h2 {
    background-color: rgb(4, 96, 150);
}

/*
Table for Education
*/

.Education {
  width: 100%;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: transparent;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: transparent;
}

td {
  border: none;
}