@charset "utf-8";
/*

Author: Guillermo Jimenez
Date: 2/4/2023
Description: CSS file for ePortfolio site 

*/

* {
    box-sizing: border-box;
}

.column{
    float: left; 
    width: 50%; 
    padding: 10px; 
}

.row {
    content: ""; 
    display: table; 
    clear: both;
}